body {
    background:#d23434;
}

p {
    font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3, ul {
    font-family: 'Prata', serif;
}

/* css reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    padding: .2em 0;
    color: rgb(216, 113, 16);
}

p {
    margin: 1.8em 0;
    line-height: 1.4em;
    color: white;
}

a {
    text-align: center;
    color: white;
}

header,
nav,
main,
aside,
footer {
    padding: 1em;
    border: 1px rgb(216, 113, 16) solid;
}

header,
footer {
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background: #332d3c;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    1fr        2fr      1fr;
    grid-template-areas: 
    "header1 header1 header1"
    "nav1     nav1    nav1"
    "main1   main1   aside1"
    "main1   main1   aside1"
    "main1   main1   aside1"
    "foot1    foot1   foot1";
}

header {grid-area: header1; background: #332d3c;}
nav {grid-area: nav1; background: #332d3c;}
main {grid-area: main1; background: #332d3c;}
#aside1 {grid-area: aside1; background: #332d3c;}
footer {grid-area: foot1; background: #332d3c;}

li {
    text-align: center;
    line-height: 50px;
    min-width: 20%;
    height: 50px;
    border: 1px rgb(216, 113, 16) solid;
    color: white;
}

footer {
    color: white;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}


/* media query for medium/tablet */
@media screen
    and (min-width: 650px)
    and (max-width: 900px) {
        .container {
            grid-template-columns: 
            1fr   1fr;
            grid-template-areas:
            "header1 header1"
            "nav1    nav1"
            "main1   aside1"
            "foot1   foot1";
        }
        li {
            text-align: center;
            line-height: 50px;
            min-width: 20%;
            height: 50px;
            border: 1px rgb(216, 113, 16) solid;
        }
        
        nav ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
        
        nav ul li {
            list-style: none;
        }
    }

/* media query for small/mobile */
@media screen
    and (max-width: 640px) {
        .container {
            grid-template-columns: 
            1fr;
            grid-template-areas:
            "header1"
            "nav1"
            "main1"
            "aside1"
            "foot1";
        }

        li {
            text-align: center;
            line-height: 50px;
            min-width: 20%;
            margin: 1em;
            height: 50px;
            border: 1px rgb(216, 113, 16) solid;
        }
        
        nav ul {
            display: block;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
        
        nav ul li {
            list-style: none;
        }
}

img {
    max-width: 100%;
    height: auto;
}